<div class="container" id="about">

    <div class="row">
        <!--

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="{{ .Site.BaseURL}}{{ .Params.bgImage }}" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {{ .Content }}
                
            </div>
        -->
        <div class="col">
                {{ .Content }}
                <br>
            </div>

    </div>
    <!-- /.row -->
</div>
